body {
    background: url(/images/header-section.jpg) no-repeat fixed;
    margin: 0 auto;
}

/*header*/
header {
    height: 500px;
}

header img {
    height: 300px;
}

/*a propos*/
section#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

section#about div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50%;
}

section#about div h3 {
    font-size: 20px;
    text-transform: uppercase;
}

/*cocktail menu*/
section#menu {
    padding: 20px 10% 20px 10%;
    background: url(/images/cocktail-section.jpg) fixed;
}

section#menu img{
    height: 200px;
}

/*class abour*/
.hour {background: url(../images/1.jpg);}
.cocktail {background: url(../images/3.jpg);}
/*class cocktail-*/
.first_row {display: flex;}
.second_row {display: flex;}
.cocktail-item {
    flex: 0.5;
    margin: 10px;
}
/*class for cocktail banner*/
.dennis {background: url(../images/orange-banner.jpg);}
.ada {background: url(../images/cherry-banner.jpg);}
.elon {background: url(/images/citrinus-banner.jpg);}
.margaret {background: url(/images/mentalux-banner.jpg)}
.linus {background: url(/images/coco-banner.jpg);}